@{
    ViewData["Title"] = "Add";
}

<div class="text-center">
    <h1 class="display-4">Fleet Management</h1>
</div>

@Html.ActionLink("Fleet Management", "Index", "FleetManagement")


<table border="1" cellpadding="11">
    <tr>
        <th>ID</th>
        <th>Make</th>
        <th>Model</th>
        <th>VIN</th>
        <th>Mileage</th>
        <th>License Plate</th>
        <th>License Disk Expiry</th>
        <th>Last Service</th>
        <th>Next Mileage Service</th>
        <th>Next Date Service</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.VehicleID</td>
                <td>@item.VehicleMake</td>
                <td>@item.VehicleModel</td>
                <td>@item.VehicleVIN</td>
                <td>@item.VehicleMileage</td>
                <td>@item.VehicleLicensePlate</td>
                <td>@item.VehicleLicenseDiskExpiry</td>
                <td>@item.VehicleLastService</td>
                <td>@item.VehicleNextMileageService</td>
                <td>@item.VehicleNextDateService</td>
            </tr>
        }
    </tbody>
</table>
</div>